<h1 class="pageTitle"> Sign Up </h1>
<form action="/users/signup" method="POST">
    <ul class="pageForm">
      <label>
        <input
          name="username"
          placeholder="Username"
        ></input>
        <br>
        <input
        name="email"
        placeholder="Email Address"
      ></input>
        <p>
        <input
          type="password"
          name="password"
          placeholder="Password"
        ></input>
      </p>
      <button type="submit">Sign Up</button>
      </label>
    </ul>
  </form>
